always-auth=true
email=tu.artifactory.dev@dev.munich-airport.de
strict-ssl=false
fetch-retries=2
cache=C:\\Users\\kuechlen\\AppData\\Local/npm-cache
registry=https://devcisrv.munich-airport.de/artifactory/api/npm/fmg-npm-public/
//devcisrv.munich-airport.de/artifactory/api/npm/fmg-npm-public/:_auth="dHVfYXJ0aWZhY3RvcnlfZGV2OkFQSmU5Z2VRSzhuS2cxamN5UmFwamo4QXRSUmpUajNYNmJYSkM="